/* Caveat */
@font-face {
  font-family: 'Caveat';
  src: url('./Caveat/Caveat-Regular.ttf') format('truetype');
  font-weight: 400; /* Normal/Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caveat';
  src: url('./Caveat/Caveat-Bold.ttf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caveat';
  src: url('./Caveat/Caveat-Light.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Caveat';
  src: url('./Caveat/Caveat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic; /* Italic */
  font-display: swap;
}

/* Test */
@font-face {
  font-family: 'VT323';
  src: url('./Test/VT323-Regular.ttf') format('truetype');
  font-weight: 400; /* Normal/Regular */
  font-style: normal;
  font-display: swap;
}
