/* VT323 */
@font-face {
  font-family: 'VT323';
  src: url('./VT323/VT323-Regular.ttf') format('truetype');
  font-weight: 400; /* Normal/Regular */
  font-style: normal;
  font-display: swap;
}